.filter-menu {
    top: 95px;
    /* position: sticky; */
    background-color: white;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;
    border: 0.1px solid #d8a47f;
    position: relative;
}

h4 {
    font-size: 18px;
}

.sort-bar {
    align-self: flex-start;
}
button.btn-close{
    right: 0;
    top: 0;
    position: absolute;
}
.filter-container{
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content: center; */
    overflow-x: scroll;
    /* flex-wrap: wrap; */
    /* height: 36px; */
    /* width: 75%; */
    /* overflow: auto; */
}

#groupSizeLabel {
    padding:10px;
}
#priceLevelLabel{
    padding:10px;   
}


.date-picker-container{ 
    margin-top: 9px;
    padding: 5px;
}