.filter-menu {
    top: 95px;
    /* position: sticky; */
    background-color: white;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;
    border: 0.1px solid #d8a47f;
}

h4 {
    font-size: 18px;
}

.sort-bar {
    align-self: flex-start;
}

.filter-container{
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    flex-wrap: wrap;
    /* height: 36px; */
    /* width: 75%; */
    /* overflow: auto; */
}

#groupSizeLabel {
    padding:10px;
}