.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8a47f;
    width: 100%;
    height: auto;
}

.nav-title {
    padding: 5px 30px 5px 30px;
    transition: color 0.5s ease-in;
    color: #272932;
    font-weight: bold;
    font-size: 3em;
}

.nav-title>span.nav-title-nu {
    transition: inherit;
}

.nav-title:hover {
    color: #272932;
}


.nav-title:hover>span.nav-title-nu {
    color: #d8a47f;
}

.form-outline {
    flex: 1 1 auto!important;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    flex-basis: auto !important;
}

.nav-about-text {
    color: #d8a47f;
}