.cards {
    width: 100%;
    padding-left: 0;
}

.container-fluid{
    padding-left: 0;
}
.card {
    background-color: #e7ecef;
    margin-top: 15px;
}

.card-category {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.card-text {
    color: #7a7a7a;
}

.card-title {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    color: #d8a47f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


