
.App {
  text-align: center;
}

.app-body * {
  box-sizing: border-box;
  /* border: solid 2px black; */
}

html, .app-body {
  display: flex;
  flex-direction: column;
  background-color: #e7ecef;
  height: 100%;
}



Nav {
  top: 0;
  position: sticky;
  z-index: 100;
}

.app-content {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.sort-bar{
  align-self: flex-end;
}

.filters-and-jobs{
  display: flex;
  flex-direction: column;
}

.cards-list{
  /* width: 80%; */
}

.filters-list{
  top: 85px;
  z-index: 999;
}